@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; 

/* GOOGLE FONT */


.orbitron{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body{
  background: linear-gradient(rgba(0, 0, 0, 0.868), rgba(0, 0, 0, 0.744)),url('/img/bg1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
}
@media (max-width: 900px) {
  body{
    background: linear-gradient(rgba(0, 0, 0, 0.868), rgba(0, 0, 0, 0.744)),url('/img/bg1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

  }
}

/* topview */

.userOptions{
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 200px;
}


.userProfile:hover .userOptions{
  display: block;
}

.userOptions{
  --site-sub-nav-offset: 18px;
}

/* .todayButton::before{
  content: '__';
  position: absolute;
  top: 0;
} */


/* .taskQuickInfo{
  background:
		linear-gradient(135deg, transparent 20px,transparent 30px, transparent 30px,hsla(0, 0%, 100%, .15) 0) top left,
		linear-gradient(225deg, transparent 10px 0, hsla(0, 0%, 100%, .15) 0) top right,
		linear-gradient(315deg, transparent 30px, transparent 40px  0, hsla(0, 0%, 100%, .15) 0) bottom right,
		linear-gradient(45deg,  transparent 10px 0, hsla(0, 0%, 100%, .15) 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
  border-radius: 5px;
} */
.taskQuickInfo{
  clip-path: polygon(0% 0%, 95% 0%, 100% 10%, 100% 100%, 0% 100%);

}